$body-bg: #f2f2f2;

$primary: #586422;
$secondary: #FF3697;
$danger: #f0a8ab;
$success: #aec2b8;
$warning: #FF7F50;
$info: #00C9BD;
$dark: #333533;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: #F3E2E6;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: #4F4F4F;
$gray-dark: darkslategray;
$custom-dark: #735D78;
$custom-medium: #B392AC;
$custom-light: #D1B3C4;
$custom-pastel: #E8C2CA;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
  "custom-dark": $custom-dark,
  "custom-medium": $custom-medium,
  "custom-light": $custom-light,
  "custom-pastel": $custom-pastel,
);

$color-ranges: (
  0: 0,
  10: 10,
  20: 20,
  30: 30,
  40: 40
)